/* Border Box Hack*/

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
/*Micro Clearfix Hack*/

.cf:before,
.cf:after {
    content: " ";
    /* 1 */

    display: table;
    /* 2 */
}
.cf:after {
    clear: both;
}
* {
    transition: all .22s;
}
.invert {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
body {
    width: 100%;
    margin: 0 auto;
    background-image: url('../img/lg-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    color: #202020;
    letter-spacing: 1.1;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    overflow-x: hidden;
}
p {
    font-family: 'Archivo Narrow', sans-serif;
}
h1 {
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: #202020;
}
.transparent {
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -o-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transition: all 500 linear;
}
.hide-this {
    display: none;
    transition: all 500 linear;
    -webkit-transition: all 500 linear;
    -moz-transition: all 500 linear;
}
header {
    background-color: #fbf6f2;
    height: 110px;
    position: fixed;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    z-index: 2;
    transition: .5;
}
header img
/*logo*/

{
    width: 190px;
    padding-top: 10px;
    margin: 0 25px;
    float: left;
}
nav {
    float: right;
    text-align: right;
    font-weight: bold;
}
nav a {
    border: 1px solid transparent;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    color: #de2600;
    display: inline-block;
    font-size: 1em;
    margin-right: 40px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 130px;
}
nav a:hover,
.button:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #1b7082;
    color: #1b7082;
    opacity: 1;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
/* SECTIONS -------------------------------*/

.container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
section {
    display: table;
    height: 100%;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
    width: 100%;
    position: relative;
}
section h2 {
    font-size: 2.5em;
    line-height: .85;
    margin-top: 1.9%;
    text-transform: uppercase;
}
section .spiral {
    width: 100px;
    margin-top: 3.2%;
    padding: 0 10px;
}
.arrow {
    background-color: #1e1e1e;
    background-color: rgba(30, 30, 30, 0.8);
    background-image: url('../img/arrow.png');
    background-position: center;
    border-radius: 50%;
    height: 60px;
    position: fixed;
    right: 1%;
    top: 65%;
    width: 60px;
    z-index: 1;
    transition: all 1000 linear;
}
.arrow:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    background-image: url('../img/arrowhov.png');
    background-position: center;
    border: 1px solid #1b7082;
    cursor: pointer;
    opacity: 1;
    top: 65.5%;
}
.button {
    background-color: #202020;
    border: 1px solid transparent;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
    font-size: 1.1em;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    top: 30px;
    width: 250px;
}
input[type="submit"] {
    background-color: #202020;
    border: 1px solid #202020;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    color: white;
    font-size: 1.1em;
    text-transform: uppercase;
}
input[type=submit]:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #1b7082;
    color: #1b7082;
    cursor: pointer;
    opacity: 1;
}
label {
    display:none;
}
#mc_embed_signup div#mce-responses {
    display: none;
}
/* MAIN SECTION ----------------------------------------*/

.main-section {
    background-image: url('../img/cover2.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 15px solid #FBF6F2;
    height: 100vh;
    position: relative;
    text-align: center;
    width: 100%;
}
.main-section .content {
    background-color: #fbf6f2;
    background-color: rgba(251, 246, 242, .75);
    border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: black;
    left: 2%;
    position: absolute;
    padding: 10px 15px;
    top: 20%;
    width: 40%;
}
.main-section .content p {
    font-size: 1.3em;
}
h1 {
    color: #1b7082;
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: -10px;
}
/*EMAIL GRAB --------------------------------------------*/

.signup {
    background-color: #fbf6f2;
    bottom: 0;
    position: absolute;
    height: 80px;
    left: 0;
    margin: 0 auto;
    padding: 0 3% 2% 3%;
    width: 100%;
    text-align: center;
}
.signup h3 {
    float: left;
    font-size: 18px;
    margin-top: 26px;
    margin-right: 20px;
    text-align: right;
    width: 33%;
}
.signup input[type="email"] {
    border: 1px solid #1b7082;
    border-radius: 5px;
    float: left;
    font-size: 14px;
    height: 50px;
    margin: 1.3%;
    padding: 14px;
    width: 33.5%;
}
.signup input[type="submit"] {
    float: left;
    font-size: 20px;
    padding: 12px;
    margin: 1.3%;
    width: 15%;
    top: 0;
}
/*SHOP --------------------------------------------------*/

.shop-section {
    background-color: #1b7082;
    background-color: rgba(27, 112, 130, .7);
    border-bottom: 15px solid #FBF6F2;
    height: 100%;
}
.shop-section h2 {
    color: rgb(251, 246, 242);
    display: inline-block;
    margin-top: 75px;
}
.shop-section .content {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.shop-section .button {
    position: relative;
    margin: 20px 30px 5px 20px;
}

/*.item .van-bean {*/
/*    background-image: url('../img/vanilla-bean.jpg');*/
/*}*/
.item {
    width: 30%;
    float: left;
    position: relative;
    background-color: #dacaa9;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    border: 2px solid white;
    border-radius: 10px;
    -o-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 10px 10px 5px 10px;
    transition: all .3s;
    margin: 1.5%;
    min-width: 238px;
    height: 200px;
}
.item p {
    position: absolute;
    z-index:100;
    display: block;
    color: #1b7082;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 0;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    left: 0;
    bottom: 0;
    font-size: 18px;
}
.item p:hover {
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.6);
}
.hazel-coff{
    background-image: url('../img/hazelnut-coffee.jpg');
}
.oat-rais{
    background-image: url('../img/oatmeal-raisin-cookie.jpg');
}
.straw-rhub{
    background-image: url('../img/strawberry-rhubarb.jpg');
}
.butter-pan{
    background-image: url('../img/buttermilk-pancakes.jpg');
}
.lavender{
    background-image: url('../img/lavender.jpg');
}
.van-bean{
    background-image: url('../img/vanilla-bean.jpg');
}
.cta {
    float: left;
    width: 100%;
    margin: 0 auto;
}
/*ABOUT -------------------------------------------------*/

.about-section .title {
    width: 100%;
}
.about-section h2 {
    display: inline-block;
    color: #1b7082;
    margin-top: 45px;
}
.about-section .content {
    margin: 0 auto;
    width: 90%;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    text-align: center;
    padding: 0 50px 40px 50px;
}
.about-section .about-text {
    float: left;
    width: 50%;
    padding: 10px;
    clear: both;
    text-align: left;
}
.about-section .lc-about {
    float: right;
    width: 45%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.about-section .logo {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
}
/*CONTACT -----------------------------------------------*/

.contact-section {
    border-bottom: 15px solid #FBF6F2;
    border-top: 15px solid #FBF6F2;
    background-color: #1b7082;
    background-color: rgba(27, 112, 130, .7);
}
.contact-section h2 {
    display: inline-block;
    color: rgb(251, 246, 242);
    margin-top: 75px;
}
.contact-section p {
    color: white;
}
.contact-section form {
    margin: 0 auto;
    width: 90%;
    text-align: center;
    padding: 0 50px 40px 50px;
    height: 100%;
    bottom: 50px;
}
.contact-section input[type="text"], .contact-section input[type="email"] {
    width: 30.5%;
    float: left;
    height: 20px;
    font-size: 16px;
    margin: 1.3%;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #dedede;
}
.contact-section form textarea {
    float: left;
    clear: left;
    width: 98%;
    font-size: 16px;
    font-family: arial, sans-serif;
    margin: 1% 1% 2% 1%;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid #dedede;
}
.contact-section input[type=submit] {
    width: 98%;
    padding: 3%;
    line-height: 0;
}

.contact-section input[type=hidden] {
    display: none;
}
#thanks {
    height: 100%;
    padding: 18% 0 15% 0;
    color: white;
}
#thanks a {
    color: white;
    border-bottom: 2px solid gold;
}
#thanks a:hover {
    color: gold;
}
/* FOOTER -----------------------------------*/

footer {
    color: white;
    position: relative;
    text-align: center;
    width: 100%;
    top: 20px;
    margin: 0 auto;
    font-size: .7em;
    padding: 10px;
}
footer div {
    width: 33.3334%;
    float: left;
}
footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    vertical-align: middle;
}
footer a:hover {
    color: gold;
}
.footer-logo {
    text-align: left;
}
.footer-logo img {
    width: 200px;
    margin-left: 20px;
    margin-bottom: 20px;
}
.connect {
    text-align: left;
}
.fb,
.em {
    width: 70%;
    float: right;
    margin-bottom: 15px;
}
.fb img,
.em img {
    margin: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    width: 32px;
}
.connect span {
    padding-top: 10px;
}
.connect a {
    transition: all 0s;
}
/* SCREENS ---------------------------------------------*/

.burger {
    width: 50px;
    background-color: #fbf6f2;
    background-color: rgba(251, 246, 242, .5);
    z-index: 10;
    right: 0;
    position: fixed;
    padding: 20px 11px;
    display: none;
    top: -5px;
    right: -5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    moz-border-radius: 5px;
    border-radius: 5px;
}
.burger:hover {
    background-color: #fbf6f2;
    background-color: rgba(251, 246, 242, .8);
}
.burger .line {
    height: 1.5px;
    border: 2.2px solid #de2600;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: 4px;
}
@media screen and (max-width: 1025px) {
    .main-section .content {
        width: 55%;
    }
}
@media screen and (max-width: 882px) {
    .item {
        width: 48%;
        margin: 1%;
        min-width: initial;
    }
    h1 {
        font-size: 1.4em;
    }
}
@media screen and (max-width: 820px) {
    header img {
        width: 150px;
    }
    nav a {
        margin-right: 29px;
        padding: 20px 0;
        width: 120px;
    }
    .about-section .about-text {
        width: 100%;
    }
    .about-section .lc-about {
        display: none;
    }
    .about-section content {
        width: 97%;
    }
    .about-section .about2 {
        background-image: url('../img/lucyscabin-about2.jpg');
        height: 150px;
        width: 100%;
        background-size: cover;
        background-position: center -20px;
        background-repeat: no-repeat;
        -webkit-border-radius: 5px;
        -o-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
}
@media screen and (max-width: 768px) {
    .main-section {
        background-position: center;
        background-size: cover;
        padding-top: 30px;
        height: 500px;
    }
    .main-section .content {
        margin-top: 20px;
        width: 58%;
    }
    .main-section .content p{
        font-size: 20px;
    }
    .signup h3, .signup input[type="email"] {
    	margin-top: 15px;
    }
}
@media screen and (max-width: 716px) {
    header {
        height: 80px;
    }
    header img {
        width: 120px;
    }
    nav {
        background-color: #fbf6f2;
        display: none;
        clear: left;
        width: 100%;
        margin: 0 auto;
        z-index: 2;
    }
    nav a {
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        float: left;
        margin: 0;
        width: 100%;
        border-top: 1px solid #de2600;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    nav a:hover {
        border-top: 1px solid #1b7082;
        border-bottom: 1px solid transparent;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }
    nav ul {
        padding: 0;
        margin: 0;
    }
    nav ul li {
        float: left;
        width: 100%;
        clear: none;
        padding: 0;
        margin: 0;
    }
    .main-section {
        background-size: cover;
        padding: 0;
        background-position: bottom center;
        border-top: 0;
    }
    .main-section .content {
        position: relative;
        padding: 10px;
        font-size: .8em;
        margin: 0 auto;
        width: 100%;
        top:75px;
        height: 350px;
        left: 0;
        border-radius: 0;
        -webkit-border-radius: 0;
        -o-border-radius: 0;
        -moz-border-radius: 0;
    }
    .signup {
        height: 180px;
        position: realtive;
    }
    .signup h3 {
        width: 100%;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 0;
    }
    .signup input[type="email"] {
        width: 65%;
        margin-left: 0;
        height: 40px;
    }
    .signup input[type="submit"] {
        width: 28%;
        padding: 8px;
        margin-top: 12px;
    }
    form {
        margin-top: -40px;
        text-align: center;
        margin-bottom: 40px;
    }
    .signup form {
        text-align: center;
    }
    section {
        padding: 10px;
    }
    section h2 {
        margin-top: 20px;
    }
    section .spiral {
        margin-top: 2.5%;
    }
    .about-section .about-text {
        padding: 0 10px;
    }
    .about-section p {
        margin-top: 0;
    }
    .contact-section form {
        width: 100%;
        padding: 0 5px 0 5px;
    }
    .contact-section {
        padding: 10px;
    }
    footer div {
        width: 100%;
    }
    .footer-logo {
        text-align: center;
        margin-bottom: 10px;
    }
    .footer-logo img {
        width: 25%;
    }
    .connect {
        text-align: left;
        margin-top: 20px;
    }
    .fb,
    .em {
        width: 100%;
        clear: left;
        text-align: center;
    }
    .burger {
        display: initial;
    }
}
@media screen and (max-width: 625px) {
    .item {
        width: 98%;
        margin: 0 0 20px 0;
    }
    .about-section .content {
        width: 95%;
        padding: 0 25px 20px 25px;
    }
    .contact-section input[name="First Name"], .contact-section input[name="Last Name"]{
        height: 40px;
        width: 47.4%;
    }
    .contact-section input[name="Email"] {
        height: 40px;
        width: 98%;
    }
    .contact-section input[type="submit"] {
        height: 50px;
        border: 1px solid #202020;
    }
}
@media screen and (max-width: 539px) {
    body {
        background-image: url('../img/lc-bg-mobile.jpg');
        background-size: 100%;
        background-color: #9f7b6b;
    }
    .main-section {
        background: none;
        height: 300px;
    }
    .main-section .mobile {
        background-image: url('../img/cover-mobile.jpg');
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        height: 175px;
        margin-top: 80px;
        margin-bottom: 0;
    }
    .main-section .content {
        position: relative;
        top: 0;
        z-index: 0;
    }
    .main-section .content p {
        font-size: 1.1em;
    }


    .arrow {
        background-color: #1e1e1e;
        background-color: rgba(30, 30, 30, 0.6);
        background-size: 100%;
        background-position: center;
        height: 40px;
        top: 20%;
        width: 40px;
    }
    .arrow:hover {
        top: 21%;
    }
    section h2 {
        font-size: 37px;
        margin-top: 15px;
    }
    section .spiral {
        width: 65px;
        margin-top: 3.2%;
    }
}
@media screen and (max-width: 400px) {
    .main-section .mobile {
        background-size: cover;
        background-position: center top;
    }
    .about-section .content {
        padding: 4px;
    }
    .about-section h3 {
        font-size: 20px;
    }
    h1 {
        margin-top: 10px;
        font-size: 20px;
    }
    .button {
        font-size: 22px;
    }
    .shop-section .button {
        width: 95%;
        margin: 20px 0 5px 0;
    }
    .signup {
        height: 110px;
    }
    section h2 {
        font-size: 28px;
        margin-top:10px;
    }
    .contact-section .content {
        padding: 0;
    }
    section .spiral {
        width: 60px;
        margin-top: 3.2%;
    }
    .footer-logo img {
        width: 60%;
    }
}
